# Build results
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# IDEs and Editors
.idea/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini

# Pulumi state
.pulumi/
