**/.git
**/.github
**/.codegraph
**/.vs
**/.vscode
**/.idea
**/.claude
**/.codex
**/.grok

**/bin
**/obj
**/TestResults
**/node_modules
**/publish
**/out

clients/**/build
clients/**/.dart_tool
clients/**/.flutter-plugins
clients/**/.flutter-plugins-dependencies
clients/**/.packages

**/*.user
**/*.suo
**/*.swp
**/*~
**/.DS_Store
**/Thumbs.db

docs
TestResults
obj
*.md
!README.md
!LICENSE

**/*.trx
**/*.coverage
**/*.log
