<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <PublishProtocol>Container</PublishProtocol>
    <EnableSdkContainerSupport>true</EnableSdkContainerSupport>
    <ContainerRepository>digitalbrain-mcp</ContainerRepository>
    <ContainerBaseImage>mcr.microsoft.com/dotnet/aspnet:11.0-preview</ContainerBaseImage>
    <ContainerRuntimeIdentifier>linux-x64</ContainerRuntimeIdentifier>
  </PropertyGroup>
  <ItemGroup>
    <ContainerPort Include="5000" Type="tcp" />
  </ItemGroup>
</Project>
